body {
  //font-family:
  //monospace;
  //margin: 0 auto;
  //max-width: 100%;
  //text-align: justify;
  //line-height: 0%;
  //font-size: 100%;
}

font {
  //font-family:
  //monospace;
  font-size: 100%;
  //padding: 2px 4px;
  background-color: #e0e0e0;
}

a {
  color: #707070;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

h1 a {
  color: black;
  font-style: normal;
}

#addform {
    margin: 10px;
}

#shares{
    float: left;
    width: 250px;
    border: 1px solid;
    resize: horizontal;
    overflow: auto;
    height: 100%;
    clear: left;
}

#table1{
    height:100%;
}

#divitem{
    background: #99FFAA;
    padding: 10px;
    margin: 1px;
}

#divitem:hover{
    background: #AAFFAA;
}

#selected{
    background: #FFFF66;
    padding: 10px;
    margin: 1px;
} 

#selected:hover{
    background: #ffFFAA;
}

td{
    vertical-align: top;
}

#share_details{
}

#tab{
	vertical-align:top
}

td > #div2 {
    width:300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: monospace;
}

#submit {
    background-color: #E4E0E0;
    border-radius: 0px;
    text-decoration: none;
    cursor: pointer;
//    border: medium none;
    border-width: 1px;
    border-color: black;
}

#submit:hover {
    background-color: #FFE0E0;
    border-radius: 0px;
    text-decoration: none;
    cursor: pointer;
//    border: medium none;
    border-width: 1px;
    border-color: black;
}
